.header {
    padding: 15px;
    border-radius: 10px;
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

::ng-deep .mat-form-field-wrapper {
    padding: 0em;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0em;
    border: 0em;
    width: 100%;
}
 
.contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold; 
}