<div class = category fxLayout="row" fxLayoutAlign="space-around center">
    <div class = 'reels'>
        <mat-card>
            <mat-card-header>
              <mat-card-title>Mulinete</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <img mat-card-image src="assets/img/reel_category.jpg" [routerLink]= "['/reels']">           
            </mat-card-content>
        </mat-card>
    </div>
    <div class = 'rods'>
        <mat-card>
            <mat-card-header>
              <mat-card-title>Lansete</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <img mat-card-image src="assets/img/rod_category.jpg">        
            </mat-card-content>
        </mat-card>
    </div>
    <div class = 'luggage'>
        <mat-card>
            <mat-card-header>
              <mat-card-title>Accesorii</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <img mat-card-image src="assets/img/luggage_category.jpg">       
            </mat-card-content>
        </mat-card>
    </div> 
</div>
